nav ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    gap: 20px;
}
nav a {
    text-decoration: none;
    display: inline-block;
    width: 100%;
    padding: 10px;
}
nav a:hover {
    background-color: #04aa6d;
    color: white;
}
#tbl {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#tbl td,
#tbl th {
    border: 1px solid #ddd;
    padding: 8px;
}

#tbl tr:nth-child(even) {
    background-color: #f2f2f2;
}

#tbl tr:hover {
    background-color: #ddd;
}

#tbl th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04aa6d;
    color: white;
}

footer {
    margin-top: 50px;
    background-color: #04aa6d;
    color: white;
    padding: 20px;
    text-align: center;
}
.contain{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
}
edit-h1{
    justify-content: center;
}


.a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #3498db;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

/* Effet de survol */
.a:hover {
    background-color: #2980b9;
}

.labeltext {
    display: inline-block;
    margin-top: 5px;
}
.text {
    margin-top: 5px;
    display: inline-block;
    vertical-align: top; 
    resize: vertical;
}
.but{
    margin-left: 100px;
    margin-top: 10px;
}


.searsh {
    display:flex;
    justify-content: center;
    margin-bottom: 10px;
}



